a{
    display: none;
}
body{
    font-family: SimplonNorm,sans-serif;
    margin: 0;
}
#root{
    border-radius: 30px;
    background-color: rgb(207, 205, 205);
}
#root.show-help{
    height: 100vh;
    overflow-y: hidden;
}

#texts_BLOCK{
    margin: 0 10% 0 10%;
    border-top: 1px solid #000;
}
#import_text_BLOCK{
    border-right: 1px solid #000;
}
#texts_BLOCK pre{
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
    margin: 2em;
    padding-left: 4em;
    text-align: left;
    background-color: white;

    transition: inherit;
}
#texts_BLOCK button{
    font-size: 1em;
    width: 3em;
    height: 3em;
    border-radius: 4em;
    border-style: none;
    background-color: black;
    color: white;
    cursor: pointer;
}
.hide-text pre{
    border: none;
    /*height: 0;*/
    transform: scaleY(0);
    transform-origin: top;
}
.show-text pre{
    min-height: 1em;
    border: groove;
    border-radius: 10px;
    border-width: thick;
    transform: scaleY(1);
    transform-origin: top;
}

#import_text_BLOCK, #export_text_BLOCK{
    transition: all 0.5s;
}

.fileNotLoaded #drop_BLOCK label{
    justify-content: space-around;
    align-items: center;
    margin: 30px;
    height: 8em;
    transition: all 250ms;
}
.fileNotLoaded #drop_BLOCK label, #options_form{
    border: 2px dashed #000;
    border-radius: 15px;
    padding: 20px;
    width: 40%;
    min-width: 9.5em;
}
#import_label:hover{
    background-color: rgb(231, 228, 228);
    cursor: pointer;
}
.fileNotLoaded #drop_BLOCK input{
    border: solid 1px #000;
    border-radius: 15px;
    padding: 5px;
    width: 80%;
    cursor: pointer;
    color: #3b3b3b;
}
.fileNotLoaded #drop_BLOCK input::file-selector-button{
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    margin-right: 20px;
    cursor: pointer;
    color: white;
    background-color: #000;
}
.fileLoaded button, #options_form div:last-child input{
    /*font-size: 1em;*/
    padding: 1em;
    margin: 20px;
    border-radius: 4em;
    border-style: none;
    background-color: black;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.fileLoaded button::before{
    content: "";
    background-color: white;
    mix-blend-mode: difference;
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.fileLoaded button:hover:before{
    left: 0;
}

#options_form{
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
}
#options_form div:last-child{
    align-self: flex-end;
}
#options_form div:last-child input{
    background-color: green;
}
#options_form div{
    display: inline-flex;
    justify-content: flex-start;
    gap: 30px;
}
.fileNotLoaded #confirm_BLOCK{
    top: -30px;
    max-height: 0px;
}
.file_put #confirm_BLOCK{
    top: -25px;
    max-height: 500px;
}
#confirm_BLOCK{
    position: relative;
    overflow: hidden;
    transition: all 1s;
}

#format_status_BLOCK{
    gap: 0.5em;
    transition: all 500ms;
}
#format_status_BLOCK:hover{
    background-color: white;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 10px;
    gap: 2em;
    z-index: 101;
}
#format_status_BLOCK section{
    max-width: 16px;
    transition: all 500ms;
}
#format_status_BLOCK:hover section{
    max-width: 500px;
    gap: 2em;
}
#format_status_BLOCK p{
    margin: 0;
    white-space: nowrap;
}

#need_help_form{
    display: inline-flex;
    align-items: center;
    gap: 10px;
    opacity: 1;
    transition: opacity 1s;
    margin: 10px 0px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 15px;
    background-color: rgb(207, 205, 205);
}
#need_help_input{
    width: 300px;
    height: 150px;
    min-height: 3em;
}
#need_help_form button.button_wait{
    background-color: grey;
    pointer-events: none;
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
#need_help_form button.button_success{
    background-color: green;
}
#need_help_form button.button_fail{
    background-color: red;
}

#help_btn, #need_help_form button{
    font-size: 1em;
    width: 3em;
    height: 3em;
}
#help_btn, #need_help_btn, #need_help_form button{
    border-radius: 4em;
    border-style: none;
    background-color: black;
    color: white;
    cursor: pointer;
    overflow: hidden;
    transition: all 500ms;
}
#help_btn:hover, #need_help_btn:hover{
    transform: scale(1.2);
}
#need_help_btn.submenu_visible{
    transform: scale(1.2);
}
#help_btn::before{
    content: "?";
    position: absolute;
    top: 1em;
    transition: all 1s;
}
#help_btn::after{
    content: "X";
    position: relative;
    top: 4em;
    transition: all 1s;
}
#help_btn.show-help::before{
    top: 4em;
}
#help_btn.show-help::after{
    top: 0em;
    font-weight: bold;
    color: red;
}
#help_btn.show-help{
    background-color: white;
}

#help_BLOCK{
    /*left: 0;*/
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    z-index: 20;
    overflow: scroll;
    transition: all 500ms;
}
#help_BLOCK.hide-help{
    top: 1em;
    right: 5em;
    filter: brightness(0);
    border-radius: 100vw;
}
#help_BLOCK.show-help{
    top: 0;
    left: 0;
    filter: brightness(1);
}
/*.show-help *{
    background-color: white;
}*/
.show-help h1,.show-help h1,.show-help ul{
    /*display: inline-block;*/
}
#tabulka_BLOCK{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#tabulka_BLOCK table{
    width: 550px;
    border-collapse: collapse;
}
#tabulka_BLOCK table, #tabulka_BLOCK td, #tabulka_BLOCK th{
    border: 2px solid;
}
#tabulka_BLOCK table span, #tabulka_BLOCK table button{
    display: inline-block;
    margin: 0.5em;
    width: 6em;
}
#tabulka_BLOCK table .table-in span{
    border: 1px solid #000;
}
#tabulka_BLOCK table .table-m span{
    background-image: linear-gradient(180deg, white, rgb(177, 177, 177));
    border: 1px solid rgb(177, 177, 177);
    border-radius: 5px;
}
#tabulka_BLOCK table .table---::before{
    content: "--------";
}

#help_BLOCK > *{
    background-color: white;
    outline: 30px solid white;
    border-radius: 10px;
    padding: 0.5em;
}
#help_BLOCK table{
    margin-block-start: 1em;
    margin-block-end: 1em;
}
#help_BLOCK > h1{
    white-space: nowrap;
}

#footer{
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: white;
    background-color: #000;
    backdrop-filter: invert(1);
    mix-blend-mode: difference;
    z-index: 120;
}